### **What is it?**
pandas is a Python package that provides fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way towards this goal.

In [3]:
# importing the libraries
import numpy as np
import pandas as pd

### Pandas -  Series and DataFrames

**1. Pandas Series**
* Pandas Series is a one-dimensional labeled array/list capable of holding data of any type (integer, string, float, python objects, etc.). 
* The labels are collectively called index. 
* Pandas Series can be thought as a single column of an excel spreadsheet and each entry in a series corresponds to an individual row in the spreadsheet.

In [9]:
# Create via python list
pylist = [55,25,75,40,90]
pdSeries = pd.Series(pylist)
print('Panda Series via Python List :','\n', pdSeries, '\n')

# Create via numpy array
npArray = [55,25,75,40,90]
pdSeries = pd.Series(npArray)
print('Panda Series via NumPy Array :','\n', pdSeries, '\n')

# We can see that the list and array have been converted to a Pandas Series object.
# We also see that the series has automatically got index labels. Let's see how these can be modified.

pdMedList = pd.Series(pylist, index = ['Omeprazole','Azithromycin','Metformin','Ibuprofen','Cetirizine'])
print(pdMedList)

Panda Series via Python List :
 0    55
1    25
2    75
3    40
4    90
dtype: int64

Panda Series via NumPy Array :
 0    55
1    25
2    75
3    40
4    90
dtype: int64

Omeprazole      55
Azithromycin    25
Metformin       75
Ibuprofen       40
Cetirizine      90
dtype: int64

**Performing mathematical operations on Pandas Series**

* The price of each medicine was increased by $2.5. Let's add this to the existing price.

In [14]:
# Update the list price
updatedMedList = pdMedList * 10
print('Old Price List', '\n', pdMedList, '\n')                      # Old Price          
print('Updated Price List', '\n', updatedMedList, '\n')             # New Price
print('Difference in Price List', '\n', updatedMedList - pdMedList) # Calculate Difference by substracing two pandas

Old Price List
 Omeprazole      55
Azithromycin    25
Metformin       75
Ibuprofen       40
Cetirizine      90
dtype: int64

Updated Price List
 Omeprazole      550
Azithromycin    250
Metformin       750
Ibuprofen       400
Cetirizine      900
dtype: int64

Difference Price List
 Omeprazole      495
Azithromycin    225
Metformin       675
Ibuprofen       360
Cetirizine      810
dtype: int64

**Accessing Series**

In [32]:
operators = ['AT&T', 'Verizon', 'T-Mobile US', 'US Cellular']
revenue = [171.76, 128.29, 68.4, 4.04]
revenueSeries = pd.Series(revenue, index=operators)
print(revenueSeries, '\n')

# Index
print(revenueSeries[0], '\n')             # Access via Index
print(revenueSeries[:3], '\n')            # Access 1st three Elements via 
print(revenueSeries[-2:], '\n')           # Access last two elents of the array 
print(revenueSeries[[0,2,3]], '\n')       # Access random elements via index

# Operators as a key
print(revenueSeries['AT&T'], '\n')                                  # Access via Index
print(revenueSeries[:'US Cellular'], '\n')                          # Access 1st three Elements via 
print(revenueSeries['T-Mobile US':], '\n')                          # Access last two elents of the array 
print(revenueSeries[['AT&T','Verizon','US Cellular']], '\n')        # Access random elements via index

AT&T           171.76
Verizon        128.29
T-Mobile US     68.40
US Cellular      4.04
dtype: float64

171.76

AT&T           171.76
Verizon        128.29
T-Mobile US     68.40
dtype: float64

T-Mobile US    68.40
US Cellular     4.04
dtype: float64

AT&T           171.76
T-Mobile US     68.40
US Cellular      4.04
dtype: float64

171.76

AT&T           171.76
Verizon        128.29
T-Mobile US     68.40
US Cellular      4.04
dtype: float64

T-Mobile US    68.40
US Cellular     4.04
dtype: float64

AT&T           171.76
Verizon        128.29
US Cellular      4.04
dtype: float64

**2. Pandas DataFrame**

Pandas DataFrame is a two-dimensional tabular data structure with labeled axes (rows and columns).

In [17]:
# Create Data Frame using List
pylist = student = ['Pratik', 'Peter', 'Gopal', 'Toby', 'Vishal']
df1 = pd.DataFrame(pylist, columns=['Student'])
print(df1)

# Add a new Column to the Existing DataFrame
grades = ['A+','A+','F', 'B+', 'F']
df2 = pd.DataFrame({'student':pylist, 'Grades':grades})
df2

  Student
0  Pratik
1   Peter
2   Gopal
3    Toby
4  Vishal

  student Grades
0  Pratik     A+
1   Peter     A+
2   Gopal      F
3    Toby     B+
4  Vishal      F

In [19]:
# Creating a Pandas DataFrame using Series

yearSr = pd.Series([2012,2013,2014,2015,2016,2017,2018])
energy_consumption = pd.Series([2152,2196,2217,2194,2172,2180,2258])
df3 = pd.DataFrame({'Year':yearSr, 'Energy_Consumption(Mtoe)':energy_consumption})
df3

   Year  Energy_Consumption(Mtoe)
0  2012                      2152
1  2013                      2196
2  2014                      2217
3  2015                      2194
4  2016                      2172
5  2017                      2180
6  2018                      2258

In [22]:
# Creating DataFrames Using Randome Values
df4 = pd.DataFrame(np.random.randn(5,2), columns=['Trial 1','Trial 2'])
df4

    Trial 1   Trial 2
0  2.012995 -0.872349
1 -0.108550  0.815547
2 -0.662988 -0.774471
3 -0.786387 -0.322805
4  1.626422  0.931812

**Accessing DataFrames**

In [4]:
# creating the dataframe using dictionary
store_data = pd.DataFrame({'CustomerID': ['CustID00','CustID01','CustID02','CustID03','CustID04'],
                           'location': ['Chicago', 'Boston', 'Seattle', 'San Francisco', 'Austin'],
                           'gender': ['M','M','F','M','F'],
                           'type': ['Electronics','Food&Beverages','Food&Beverages','Medicine','Beauty'],
                           'quantity':[1,3,4,2,1],
                           'total_bill':[100,75,125,50,80]}
                        )
print(store_data, '\n')

# Access
print(store_data[:1], '\n')                 # Access row via Index 
print(store_data['location'],'\n')          # Access entire column
print(store_data[::2], '\n')                # Access every entry but with Step size
print(store_data[::-2])               # Access every entry but with Step size and in reverse order

  CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F          Beauty         1          80

  CustomerID location gender         type  quantity  total_bill
0   CustID00  Chicago      M  Electronics         1         100

0          Chicago
1           Boston
2          Seattle
3    San Francisco
4           Austin
Name: location, dtype: object

  CustomerID location gender            type  quantity  total_bill
0   CustID00  Chicago      M     Electronics         1         100
2   CustID02  Seattle      F  Food&Beverages         4         125
4   CustID04   Austin      F          Beauty         1          80

  CustomerID location gender            type  quantity  total_bill
4   CustID04   Austin      F          Beauty         1          80
2   CustID02  Seattle      F  Food&Beverages         4         125
0   CustID00  Chicago      M     Electronics         1         100

**Column Addition and Removal from a Pandas DataFrame**

In [11]:
store_data1 = pd.DataFrame({'CustomerID': ['CustID00','CustID01','CustID02','CustID03','CustID04'],
                           'location': ['Chicago', 'Boston', 'Seattle', 'San Francisco', 'Austin'],
                           'gender': ['M','M','F','M','F'],
                           'type': ['Electronics','Food&Beverages','Food&Beverages','Medicine','Beauty'],
                           'quantity':[1,3,4,2,1],
                           'total_bill':[100,75,125,50,80]}
                        )
print('Before Addition or Removal','\n',store_data1, '\n')

# Addition
store_data1['rating'] = [2,5,3,4,4]                               # Directly adding a new column to store data
print('After Addition of Column','\n',store_data1, '\n')

# Removal
print(store_data1.drop('CustomerID',axis=1),'\n')                      # Removing Column

# While removing in above case it will still keep column in
# store_data1 as store_data1 is not disturbed and store_data1
# with dropped column is displayed. To actually drop it.
store_data1.drop('CustomerID',axis=1,inplace=True)                # Permenanat Removal       
print('After permant drop of Column','\n',store_data1, '\n')

Before Addition or Removal
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F          Beauty         1          80

After Addition of Column
   CustomerID       location gender            type  quantity  total_bill  \
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F          Beauty         1          80

   rating
0       2
1       5
2       3
3       4
4       4

        location gender            type  quantity  total_bill  rating
0        Chicago      M     Electronics         1         100       2
1         Boston      M  Food&Beverages         3          75       5
2        Seattle      F  Food&Beverages         4         125       3
3  San Francisco      M        Medicine         2          50       4
4         Austin      F          Beauty         1          80       4

After permant drop of Column
         location gender            type  quantity  total_bill  rating
0        Chicago      M     Electronics         1         100       2
1         Boston      M  Food&Beverages         3          75       5
2        Seattle      F  Food&Beverages         4         125       3
3  San Francisco      M        Medicine         2          50       4
4         Austin      F          Beauty         1          80       4

**Row Addition and Removal from a Pandas DataFrame**

In [33]:
store_data2 = pd.DataFrame({'CustomerID': ['CustID00','CustID01','CustID02','CustID03','CustID04'],
                           'location': ['Chicago', 'Boston', 'Seattle', 'San Francisco', 'Austin'],
                           'gender': ['M','M','F','M','F'],
                           'type': ['Electronics','Food&Beverages','Food&Beverages','Medicine','Beauty'],
                           'quantity':[1,3,4,2,1],
                           'total_bill':[100,75,125,50,80]}
                        )
# Removal of row
print('Dropped result','\n',store_data2.drop(1,axis=0),'\n')
print('After drop, actual dataframe','\n',store_data2,'\n')

# To drop permenenantly drop it.
store_data2.drop(1,axis=0, inplace=True)
print('After permeneant drop, actual dataframe', '\n', store_data2)

# To reset the index
print('To reset index','\n',store_data2.reset_index(),'\n')

# We see that the index of the data frame is now resetted but the index has become
# a column in the data frame. We do not need the index to become a column so we can
# simply set the parameter drop=True`in reset_index() function.
store_data2.reset_index(drop=True,inplace=True)
print('After managing double index column','\n',store_data2,'\n')

Dropped result
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F          Beauty         1          80

After drop, actual dataframe
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F          Beauty         1          80

After permeneant drop, actual dataframe
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F          Beauty         1          80
To reset index
    index CustomerID       location gender            type  quantity  \
0      0   CustID00        Chicago      M     Electronics         1
1      2   CustID02        Seattle      F  Food&Beverages         4
2      3   CustID03  San Francisco      M        Medicine         2
3      4   CustID04         Austin      F          Beauty         1

   total_bill
0         100
1         125
2          50
3          80

After managing double index column
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID02        Seattle      F  Food&Beverages         4         125
2   CustID03  San Francisco      M        Medicine         2          50
3   CustID04         Austin      F          Beauty         1          80

### Panda Methods

**1. loc method**

* loc is a  method to access rows and columns on pandas objects. When using the loc method on a dataframe, we specify which rows and which columns we want by using the following format:

  * **dataframe.loc[row selection, column selection]**

* DataFrame.loc[] method is a method that takes **only index labels** and returns row or dataframe if the index label exists in the data frame.

In [64]:
# Access
print(store_data.loc[[1,4]], '\n')                          # Access Multiple Rows 
print(store_data.loc[[1,4],['location','type']],'\n')       # Access Multiple Rows with selective column

# Modification
print('Before Change','\n', store_data,'\n')                # initial data
store_data.loc[4,'type'] = 'Hello World'                    # Change the Data
print('After Change','\n', store_data)                      # changed data

  CustomerID location gender            type  quantity  total_bill
1   CustID01   Boston      M  Food&Beverages         3          75
4   CustID04   Austin      F     Hello World         1          80

  location            type
1   Boston  Food&Beverages
4   Austin     Hello World

Before Change
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F     Hello World         1          80

After Change
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin      F     Hello World         1          80

**2. iloc method**

* The iloc indexer for Pandas Dataframe is used for **integer location-based** indexing/selection by position. When using the loc method on a dataframe, we specify which rows and which columns we want by using the following format:

  * **dataframe.iloc[row selection, column selection]**

In [68]:
# Access
print(store_data.iloc[[1,4]], '\n')                 # Access Multiple Rows 
print(store_data.iloc[[1,4],[0,2]],'\n' )           # Access Multiple Rows with selective column(compare with loc declaration)

# Modification
print('Before Change','\n', store_data,'\n')        # initial data
store_data.iloc[4,2] = 'Bacteria'                   # Change the Data
print('After Change','\n', store_data)              # changed data

  CustomerID location gender            type  quantity  total_bill
1   CustID01   Boston      M  Food&Beverages         3          75
4   CustID04   Austin  Alien           Alien         1          80

  CustomerID gender
1   CustID01      M
4   CustID04  Alien

Before Change
   CustomerID       location gender            type  quantity  total_bill
0   CustID00        Chicago      M     Electronics         1         100
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50
4   CustID04         Austin  Alien           Alien         1          80

After Change
   CustomerID       location    gender            type  quantity  total_bill
0   CustID00        Chicago         M     Electronics         1         100
1   CustID01         Boston         M  Food&Beverages         3          75
2   CustID02        Seattle         F  Food&Beverages         4         125
3   CustID03  San Francisco         M        Medicine         2          50
4   CustID04         Austin  Bacteria           Alien         1          80

**Difference between loc and iloc indexing methods**

* loc is label-based, which means that you have to specify rows and columns based on their row and column labels.
* iloc is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

In [58]:
# accessing selected rows and columns using iloc method 
store_data.iloc[[1,4],['location','type']]

IndexError: .iloc requires numeric indexers, got ['location' 'type']

* As expected, .iloc has given error on using 'labels'.

**3 Condition based indexing**

In [7]:
print(store_data['quantity']>1,'\n')                # Conditional check
print(store_data.loc[store_data['quantity']>1], '\n')         # Conditional Row selection

0    False
1     True
2     True
3     True
4    False
Name: quantity, dtype: bool

  CustomerID       location gender            type  quantity  total_bill
1   CustID01         Boston      M  Food&Beverages         3          75
2   CustID02        Seattle      F  Food&Beverages         4         125
3   CustID03  San Francisco      M        Medicine         2          50

**4. Combining Dataframes**
1. concat
2. join
3. merge

In [35]:
data_cust = pd.DataFrame({"customerID":['101','102','103','104'], 
                        'category': ['Medium','Medium','High','Low'],
                        'first_visit': ['yes','no','yes','yes'],
                        'sales': [123,52,214,663]},index=[0,1,2,3])

data_cust_new = pd.DataFrame({"customerID":['101','103','104','105'], 
                    'distance': [12,9,44,21],
                    'sales': [123,214,663,331]},index=[4,5,6,7])

print(data_cust,'\n')
print(data_cust_new)

  customerID category first_visit  sales
0        101   Medium         yes    123
1        102   Medium          no     52
2        103     High         yes    214
3        104      Low         yes    663

  customerID  distance  sales
4        101        12    123
5        103         9    214
6        104        44    663
7        105        21    331

In [40]:
# 1. Concat 
print(pd.concat([data_cust,data_cust_new],axis=0), '\n')
print(pd.concat([data_cust,data_cust_new],axis=1))

  customerID category first_visit  sales  distance
0        101   Medium         yes    123       NaN
1        102   Medium          no     52       NaN
2        103     High         yes    214       NaN
3        104      Low         yes    663       NaN
4        101      NaN         NaN    123      12.0
5        103      NaN         NaN    214       9.0
6        104      NaN         NaN    663      44.0
7        105      NaN         NaN    331      21.0

  customerID category first_visit  sales customerID  distance  sales
0        101   Medium         yes  123.0        NaN       NaN    NaN
1        102   Medium          no   52.0        NaN       NaN    NaN
2        103     High         yes  214.0        NaN       NaN    NaN
3        104      Low         yes  663.0        NaN       NaN    NaN
4        NaN      NaN         NaN    NaN        101      12.0  123.0
5        NaN      NaN         NaN    NaN        103       9.0  214.0
6        NaN      NaN         NaN    NaN        104      44.0  663.0
7        NaN      NaN         NaN    NaN        105      21.0  331.0

In [44]:
# 2. Merge
# Merge combines dataframes using a column's values to identify common entries

print(pd.merge(data_cust,data_cust_new,how='outer',on='customerID'),'\n') # outer merge is union of on
print(pd.merge(data_cust,data_cust_new,how='inner',on='customerID'),'\n') # inner merge is intersection of on
print(pd.merge(data_cust,data_cust_new,how='right',on='customerID'),'\n')
print(pd.merge(data_cust,data_cust_new,how='left',on='customerID'),)

  customerID category first_visit  sales_x  distance  sales_y
0        101   Medium         yes    123.0      12.0    123.0
1        102   Medium          no     52.0       NaN      NaN
2        103     High         yes    214.0       9.0    214.0
3        104      Low         yes    663.0      44.0    663.0
4        105      NaN         NaN      NaN      21.0    331.0

  customerID category first_visit  sales_x  distance  sales_y
0        101   Medium         yes      123        12      123
1        103     High         yes      214         9      214
2        104      Low         yes      663        44      663

  customerID category first_visit  sales_x  distance  sales_y
0        101   Medium         yes    123.0        12      123
1        103     High         yes    214.0         9      214
2        104      Low         yes    663.0        44      663
3        105      NaN         NaN      NaN        21      331

  customerID category first_visit  sales_x  distance  sales_y
0        101   Medium         yes      123      12.0    123.0
1        102   Medium          no       52       NaN      NaN
2        103     High         yes      214       9.0    214.0
3        104      Low         yes      663      44.0    663.0

In [46]:
# 3. Join

data_quarters = pd.DataFrame({'Q1': [101,102,103],
                              'Q2': [201,202,203]},
                               index=['I0','I1','I2'])

data_quarters_new = pd.DataFrame({'Q3': [301,302,303],
                                  'Q4': [401,402,403]},
                               index=['I0','I2','I3'])

print(data_quarters,'\n')
print(data_quarters_new,'\n')

# join behaves just like merge,  except instead of using the values of one of the
# columns to combine data frames, it uses the index labels

data_quarters.join(data_quarters_new,how='right') # outer, inner, left, and right work the same as merge

     Q1   Q2
I0  101  201
I1  102  202
I2  103  203

     Q3   Q4
I0  301  401
I2  302  402
I3  303  403

       Q1     Q2   Q3   Q4
I0  101.0  201.0  301  401
I2  103.0  203.0  302  402
I3    NaN    NaN  303  403